<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vamoxd</title>
    <style type="text/CSS">
        h1{
            color: cyan;
        }
    </style>
</head>
<body>
    <h1>{% block Saludo %} {% endblock %}</h1>
    <h1>siuuu {{prueba.0}} </h1> 
    Buenas {{nombre|title}} {{apellido|title}}<br>
    {% for cualquiercosa in prueba %}
        {{cualquiercosa}} <br>
    {% endfor %} 
    {% block cuantas_copas %} {% endblock %}
    {% block piedepagina %} {% endblock %}
</body>
</html>