{% extends 'plantilla.twig' %}
{% block body %} 
<body>
    <div class="container text-center">
        <h1> Notas de estudiantes </h1>
      <a href="?" class="btn btn-primary">Notas de estudiantes</a>
    </div><br> 
    <div class="container-sm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-titler">Registrar notas</h4>
            <form action="?Home/Registro" method="POST">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
                <div class="mb-3">
             <label for="exampleInputEmail1" class="form-label">Nombre del estudiante</label>
                <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="Nombre">
             <div class="form-text">Ingrese los nombres del estudiante</div>
             </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Apellidos estudiante</label>
             <input type="text" class="form-control" name="Apellidos" id="apellido">
             </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Numero de documento</label>
             <input type="number" class="form-control" name="Documento" id="documento">
             </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nota 1</label>
             <input type="number" class="form-control" name="PrimeraNota" id="nota1">
             <div class="form-text">Ingrese un valor entre 20 a 100</div>
             </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nota 3</label>
             <input type="number" class="form-control" name="SegundaNota" id="nota2">
             <div class="form-text">Ingrese un valor entre 20 a 100</div>
             </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nota 3</label>
             <input type="number" class="form-control" name="TerceraNota" id="nota3">
             <div class="form-text">Ingrese un valor entre 20 a 100</div>
             </div>
            <div class="alert alert-danger" role="alert" id="aviso" style="display:none; "></div>
             <button type="submit" class="btn btn-primary" id="botonsubmit">Enviar</button>
            </form>
            </div>
        </div>
    </div>
    <script src="validacion.js"></script>
{% endblock %}